
#bloc_acceuil{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

#image_accueil{
    width: 40%;
}

/*responsive*/
@media screen and (max-width: 360px){

}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 520px){
 
}

@media screen and (max-width: 768px){
     
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1025px){
    
}

@media screen and (min-width: 1200px){
 
}

@media screen and (min-width: 1100px){
 
}

@media screen and (min-width: 1400px){
 
}

@media screen and (min-width: 1600px){
    
}

@media screen and (min-width: 1900px){
  
}

@media screen and (min-width: 2100px){

}


