
#bloc_erreur{
    display: flex;
    flex-direction: column;
    
}

h1,p{
    display: flex;
    justify-content: center;
}

#image_erreur{
    transform: rotate(90deg);
}



/*responsive*/
@media screen and (max-width: 360px){
    h1{
         font-size: 80%;   
    }
    
    p{
        font-size: 70%;
    }
    
    #bloc_erreur{
        margin-top: 5%;
    }
    
    #image_erreur{
        width: 10%;
    }
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 520px){
 
}

@media screen and (max-width: 768px){
    #bloc_erreur{
        margin-top: 50%;
    }
    
    #image_erreur{
        width: 40%;
    }
}

@media screen and (min-width: 768px){
    #bloc_erreur{
        margin-top: 10%;
    }
    
    #image_erreur{
        width: 20%;
    }
}

@media screen and (min-width: 1025px){
    
}

@media screen and (min-width: 1200px){
 
}

@media screen and (min-width: 1100px){
 
}

@media screen and (min-width: 1400px){
 
}

@media screen and (min-width: 1600px){
    
}

@media screen and (min-width: 1900px){
  
}

@media screen and (min-width: 2100px){
    #bloc_erreur{
        margin-top: 10%;
    }
    #image_erreur{
        width: 15%;
    }
}


