
 /*size img*/
.image_miel{
  width: 25%;
}

  /*placement img*/
.image_modifier{
    display: flex;
    justify-content: center;
}

.modifier{
    display: flex;
    justify-content:center;
    margin-top: 5%;
}

  /*style ext form*/
.formulaire_modifier{
     border: 3px outset #b56100;
     padding: .5% 0 .5% 0;
}

  /*placement element form*/
.nom_prenom, .email_confirm_email, .password_confirm_password{
    display: flex;
    justify-content: space-around;
}

.nom_modifier, .prenom_modifier, .email_modifier, .password_modifier{
    display: flex;
    flex-direction: column;
}

.nom_modifier .nom_label, .prenom_modifier .prenom_label, .email_modifier .modifier_email_label, .password_modifier .modifier_password_label{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 1%;
}

    /*test style input*/
.input_nom, .input_prenom, .modifier_input_email, .modifier_input_password{
    border: 1px outset #ffbb00;
}

    /*placement bt valider*/
.modifier_valide{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

    /*style bt valide*/
.modifier_bt_valide{
    background: lime;
    border:1px outset #ffbb00;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.modifier_bt_valide:hover{
    box-shadow: 1px 1px 1px #b56100;
}

/*responsive*/
@media screen and (max-width: 360px){

}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 520px){
 
}

@media screen and (max-width: 768px){
     
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1025px){
    
}

@media screen and (min-width: 1200px){
 
}

@media screen and (min-width: 1100px){
 
}

@media screen and (min-width: 1400px){
 
}

@media screen and (min-width: 1600px){
    
}

@media screen and (min-width: 1900px){
  
}

@media screen and (min-width: 2100px){

}


